body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background-color: black;
  color: lime;
}
table {
  margin-left: 40px;
  border: 2px solid lime;
}
th {
  text-align: left;
  padding: 10px;
  border: 2px solid lime;
}
td {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  text-align: left;
  border: 2px solid lime;
}
.error {
  color: red;
  font-weight: bold;
}
.emphasis {
  font-weight: bold;
}
a {
  color: aqua;
}
div {
  padding: 20px;
}